
@{
    ViewBag.Title = "Kayıt Ol";
}

<div class="row">
    <div class="col-md-6 login-form-1" ng-controller="registerCtrl">
        <h3>Kayıt Ol</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" ng-model="username" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Şifre" ng-model="password" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Şifre Tekrar " ng-model="rePassword" value="" />
            </div>
            <div class="form-group">
                <label class="text-danger">
                    {{errorLogin}}
                </label>
            </div>
            <div class="form-group">
                <input type="button" ng-click="register()" class="btn btn-primary" value="Kayıt Ol" />
            </div>
        </form>
    </div>
</div>
